<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Administração de Usuários - Gerenciamento de Frutas</title>
</head>
<body>
    <h1>Gerenciamento de Usuários</h1>
    <div id="user-details">
        {% for user in usuarios %}
        <p>ID: {{ user.id }} - Email: {{ user.email }} - Perfil: {{ user.perfil }}
            <button onclick="deleteUser({{ user.id }})">Excluir</button>
        </p>
        {% else %}
        <p>Nenhum usuário encontrado.</p>
        {% endfor %}
    </div>
<script>
function deleteUser(userId) {
    console.log("Trying to delete user with ID:", userId);  // Adicione isto para depuração
    if (confirm('Você tem certeza que deseja excluir este usuário?')) {
        fetch(`/admin/user/${userId}`, {
            method: 'DELETE'
        }).then(response => {
            if (response.ok) {
                response.json().then(data => {
                    alert(data.message);
                    window.location.reload();
                });
            } else {
                response.json().then(data => {
                    alert(data.message);
                });
            }
        }).catch(error => {
            console.error('Erro ao excluir usuário:', error);
            alert('Erro ao excluir usuário: ' + error);
        });
    }
}


</script>

</body>
</html>
